html {
  height: 100%;
}
body {
  background-image: url("/imgs/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
button:hover {
  cursor: pointer;
}
#title {
  text-align: center;
}

/* -------------------------- Button----------------------------*/
#opening-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2vh;
  background-color: navy;
  color: whitesmoke;
  border-color: orangered;
}
.game-font {
  font-family: "Bungee Spice", sans-serif;
  background-color: black;
  opacity: 0.9;
}
.hide {
  display: none;
}
/* --------------------------Transition and Transforming Effects----------------------------*/

#home-page {
  animation-name: home-page;
  animation-duration: 5s;
  animation-iteration-count: 1;
  position: absolute;
  top: 45%;
  left: 41%;
  font-size: 1.5rem;
}
#rendered-rules h2 {
  background-color: black;
  opacity: 0.9;
  animation-name: rules;
  animation-duration: 5s;
  animation-iteration-count: 1;
  position: relative;
  text-align: center;
}

#home-page h3 {
  width: 20vw;
}
#render-rules span {
  margin-top: 20vh;
}
@keyframes home-page {
  0% {
    transform: rotate(0deg);
    font-size: 2.5rem;
    top: 0;
    opacity: 1;
  }
  25% {
    transform: rotate(90deg);
    font-size: 2rem;
    top: 15%;
    opacity: 0.75;
  }
  50% {
    transform: rotate(180deg);
    font-size: 1.75rem;
    top: 30%;
    opacity: 0.5;
  }
  80% {
    transform: rotate(360deg);
    font-size: 1.5rem;
    top: 45%;
    opacity: 0;
  }
}
@keyframes rules {
  0% {
    font-size: 0px;
  }
  25% {
    font-size: 5px;
  }
  50% {
    font-size: 10px;
  }
  75% {
    font-size: 15px;
  }
} /* -------------------------- Card Creation----------------------------*/
#game-container {
  height: 50vh;
  background-color: red;
  margin: 20vh auto 0 auto;
  opacity: 0.5;
}
.card-container {
  display: flex;
}
button {
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}
.card img {
  width: 300px;
  height: 300px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card p {
  overflow-wrap: break-word;
}
.container {
  padding: 2px 16px;
}
.card h4 {
  border: 2px solid black;
  margin: 0;
  font-family: "Bungee Spice", sans-serif;
  background-color: steelblue;
}
.hide {
  display: none;
}
/* -------------------------- Question Display ----------------------------*/

#question-display {
  text-align: center;
  background-color: #eef1ff;
}
.game-font {
  font-family: "Bungee Spice", sans-serif;
}
#question-display {
  font-family: "Montserrat", sans-serif;
}
/* -------------------------- Counter Display ----------------------------*/
#counter-container {
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-size: 24px;
  background-color: black;
  opacity: 0.9;
}
/* -------------------------- First Round Cleared  ----------------------------*/

#first-round-cleared {
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-size: 24px;
  background-color: black;
  opacity: 0.9;
}
/* -------------------------- Final Test Rules ----------------------------*/
#final-rules {
  width: 100%;
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-weight: bolder;
  background-color: black;
  opacity: 0.9;
}
/* -------------------------- Final Test  ----------------------------*/
#final-round-container {
  display: flex;
}
.restart-button {
  width: 100%;
  position: absolute;
  top: 95%;
}
#final-question {
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-size: 35px;
  margin-top: 20vh;
  background-color: black;
  opacity: 0.9;
}

#countdown-div {
  width: 100%;
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-weight: bolder;
  background-color: black;
  opacity: 0.9;
}