html{
  height: 100%;
}
body{
  background-image: url('/imgs/background.jpeg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center top;
}
button:hover{
cursor: pointer;

}
#title{
  text-align: center;
}


/* -------------------------- Button----------------------------*/
#changing-button{
position: fixed;
bottom: 0;
left: 0;
right: 0;
padding: 2vh;
background-color: navy ;
color: whitesmoke;
border-color:orangered ;

}

.game-font{
  font-family: 'Bungee Spice', sans-serif;
}
.hide{
  display: none;
}

/* --------------------------Rotating Intro----------------------------*/

#welcome{
  animation-name: loop;
  animation-duration: 5s;
  animation-iteration-count: 1;
  position: absolute;
  top: 45%;
  left: 41%;
  font-size: 1.5rem;
}
#welcome h3{
width: 20vw;
}

@keyframes loop{
0% {  transform: rotate(0deg); font-size: 2.5rem; top: 0; opacity: 1; }
25%{  transform: rotate(90deg);  font-size: 2rem; top:15%; opacity: 0.75;}
50%{  transform: rotate(180deg);  font-size: 1.75rem; top: 30%; opacity: .5;}
80%{  transform: rotate(360deg); font-size: 1.5rem; top: 45%; opacity: 0;}
}

